<mat-form-field appearance="fill" style="width: 30%;margin-left: 8%;margin-top: 5%;">
    <mat-label>Enter Your Name</mat-label>
    <input matInput>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill" style="width: 30%;margin-left: 8%;">
    <mat-label>Enter Your Password</mat-label>
    <input type="password" matInput>
  </mat-form-field>
  <br>
  <br>
<mat-form-field appearance="fill" style="width: 30%;margin-left: 8%;">
 <mat-label>Select the Department</mat-label>
  <mat-select>
    <mat-option value="one">CSE</mat-option>
    <mat-option value="two">ECE</mat-option>
  </mat-select>
</mat-form-field>
<br>
<br>
<mat-radio-button appearance="fill" style="width: 30%;margin-left: 8%;">male</mat-radio-button>
<mat-radio-button appearance="fill" 
 >female</mat-radio-button>
<br>
<br>
  <a routerLink='../student'><button style="margin-left: 20%;width: 100px;height: 40px;" class="exbutton" mat-raised-button>Login</button>
  </a>